<!DOCTYPE html>
<html>
<head>
  <title>Birthday Cake Form</title>
{#  <link rel="shortcut icon" href="https://www.lseg.com/sites/all/themes/lseg_responsive/favicon.ico">#}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000" />
  <meta name="description" content="" />
  <link rel="icon"  href="../../images/favicon-32x32.png" />
  <link rel="stylesheet" href="https://use.typekit.net/gna0tkw.css" />

  {% block scripts %}{% endblock %}
</head>
<body>

  {% block body %}{% endblock %}
</body>
</html>
